{% extends "base.html" %}
{% block content %}
	<h1>Administration des exercices</h1>

<ul class="breadcrumb">
  <li><a href={{ url_for('exercices_l0')}}>Home</a></li>
  <li><a href={{ url_for('exercices_l1', part=part)}}>{{part}}</a></li>
  <li class="active">{{chapter}}</li>
</ul>



<script >
  $(function() {
    $("table").tablesorter({ sortList: [[1,0]] });
  });
</script>
<table class="table table-condensed table-hover tablesorter" >
<thead>
	<tr>
		<th>Link</th>
		<th>Exo number</th>
	</tr>
</thead>
<tbody>

{% for exo in exos %}

	<tr>
		<td><a href={{ url_for('exo_edit_content', exo_id=exo.exo_id)}}><i class="glyphicon glyphicon-search"></i></a></td>
		<td>{{exo.exo_nb}}</td>
	</tr>

{% endfor %}

</tbody>
</table>


{% endblock %}

