{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="col-lg-2 control-label">
                {{ field.label.text }}:
            </label>
        {% endif %}
        <div class="col-lg-3">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_ + ' form-control', **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                    {% set class_ = class_ + ' form-control' %}
                {% elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' form-control' %}
                {% endif %}
                {{ field(class_=class_ + ' form-control', placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}


{% macro form_field2(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="col-lg-2 control-label">
                {{ field.label.text }}:
            </label>
        {% endif %}
        <div class="col-lg-8">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_ + ' form-control', **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                    {% set class_ = class_ + ' form-control' %}
                {% elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' form-control' %}
                {% endif %}
                {{ field(class_=class_ + ' form-control', placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% extends "authors/base2.html" %}
{% block content %}


<h1>Enregistrement d'un nouvel exercice</h1>
<form class="form-horizontal" action="" method="post" name="edit" role="form">
  <h2>Admin</h2>
    {{form.hidden_tag()}}

    <div class="form-group">
      <label class="col-lg-2 control-label">Id:</label>
      <div class="col-lg-3">
        <input class="form-control" id="disabledInput" type="text" placeholder='automatique' disabled>
      </div>
    </div>

    {{form_field(form.source )}}
    {{form_field(form.appli)}}
    {{form_field(form.package )}}
    <div class="form-group">
      <label class="col-lg-2 control-label">Auteur:</label>
      <div class="col-lg-3">
        <input class="form-control" id="disabledInput" type="text" placeholder={{g.user.login}} disabled>
      </div>
    </div>
    {{form_field(form.school)}}


<h2>Thème</h2>
    {{form_field(form.tracks, value="MP, PC, PSI")}}
    {{form_field(form.part)}}
    {{form_field(form.chapter)}}
    <div class="form-group">
      <label class="col-lg-2 control-label">Numéro:</label>
      <div class="col-lg-3">
        <input class="form-control" id="disabledInput" type="text" placeholder="automatique" disabled>
      </div>
    </div>

    {{form_field(form.difficulty)}}
    {{form_field(form.tags)}}

<h2>Contenu</h2>
    {{form_field2(form.question, class="form-control", rows="10")}}
    {{form_field2(form.hint, class="form-control", rows="5")}}
    {{form_field2(form.solution, class="form-control", rows="20")}}

    <div class="row">
      <div class="col-md-12" style="text-align:center">
        <button class="btn btn-lg btn-primary" type="submit" style="text-align:center">Enregistrer</button>
      </div>
    </div>


</form>

<script>
    var appliValue
    var partValue
    var chapters
    var structure = {/*attention, doit etre les meme que dans le fichier form !! (pour la validation du formulaire)*/
        "prepasc2": {
            "Algèbre": [
                "Structure, arithmétique, complexes",
                "Polynômes",
                "Espaces vectoriels, matrices, déterminants",
                "Réduction",
                "Espace préhilbertiens, espaces euclidiens"
            ],
            "Analyse": [
                "Espaces normés et Topologie",
                "Fonctions d'une variable réelle",
                "Suites réelles ou complexes",
                "Intégration sur un intervalle quelconque",
                "Intégrales à paramètre",
                "Séries numériques",
                "Séries defonctions",
                "Séries entières",
                "Séries de Fourier",
                "Equations différentielles",
                "Fonctions de plusieurs variables réelles"
            ],
            "Géométrie": [
                "Géométrie du plan et de l'espace",
                "Courbes et surfaces"
            ]
        },
        "prepasc1": {
            "Algèbre": [
                "Raisonnement et vocabulaire ensembliste",
                "Calculs algébriques",
                "Applications, relations",
                "Entiers naturels, récurrence",
                "Arithmétique dans l'ensemble des entiers relatifs",
                "Structures algébriques usuelles",
                "Polynômes et fractions rationnelles"
            ],
            "Analyse": [
                "Nombres complexes et trigonométrie",
                "Techniques fondamentales de calcul en analyse",
                "Nombres réels et suites numériques",
                "Fonctions usuelles",
                "Limites, continuité, dérivabilité",
                "Analyse asymptotique",
                "Intégration",
                "Séries numériques",
                "Généralités, séries à termes positifs",
                "Convergence absolue (MPSI)"
            ],
            "Algèbre linéaire": [
                "Espaces vectoriels et applications linéaires",
                "Matrices",
                "Groupe symétrique et déterminants",
                "Espaces préhilbertiens réels"
            ],
            "Probabilités": [
                "Probabilités sur un univers fini",
                "Variables aléatoires sur un espace probabilisé fini"
            ]
        },
        "prepacom1": {},
        "prepacom2": {}
    };


    var cleanURL = function(str){
        str = str.replace(/^\s+|\s+$/g, '');
        str = str.toLowerCase();
        var from = "ãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;";
        var to   = "aaaaaeeeeeiiiiooooouuuunc------";
        for (var i=0, l=from.length ; i<l ; i++){
            str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
        }
        str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-');
        return str;
    };

    var goChapters = function(){
        $("#part").click(function() {
            console.log('part clicked')
            if($.inArray($("#part").val(), Object.keys(structure[appliValue]))>-1){
                console.log("found chapters")
                partValue = $(this).val()
                chapters = structure[appliValue][partValue]
                $("#chapter").empty();
                $("#chapter").removeProp('disabled');
                for (var i=0; i<chapters.length;i++){
                    $("#chapter").append('<option value="' + chapters[i] + '">' + chapters[i] + '</option>')
                }
            }
        });
    }

/*
    $(document).ready(function(){
        $( "#part" ).replaceWith( "<select class='required form-control' disabled id='part'><option> Nom de la Partie </option></select>" );

        $( "#chapter" ).replaceWith( "<select class='required form-control' disabled id='chapter'><option> Nom du chapitre </option></select>" );
    });
*/

    $(document).ready(function(){
        console.log("disabling #part and #chapter")
        $( "#part" ).prop('disabled', 'true');
        $( "#chapter" ).prop('disabled', 'true');
    });

    $("#appli").click(function() {
        console.log('appli clicked')
        if($.inArray($("#appli").val(), Object.keys(structure))>-1){
            console.log("found parts")
            appliValue = $(this).val()
            var parts = Object.keys(structure[appliValue])
            $("#part").empty();
            $("#part").removeProp('disabled');
            for (var i=0; i<parts.length;i++){
                $("#part").append('<option value="' + parts[i] + '">' + parts[i] + '</option>')
            }
            console.log("appliValue= "+appliValue)
            goChapters();
        }
    });


</script>

{% endblock %}