{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <br>
  </div>
</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <h4>L'évolution du nombre d'utilisateurs actifs sur 7jours:</h4>
    <div id="chart1" style="width:100%; margin: 0 auto"></div>
  </div>
</div>




<script>
$(function () {
        $('#chart1').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                min: -0.5,
                minRange: 4
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y;
                }
            },
            series: [{
                name: 'nombre d\'utilisateurs actifs sur les 7 jours précédents',
                data: {{chartdata}},
                color: 'green'
            }]
        });
    });

</script>


{% endblock %}
