<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		{% if title %}
		<title>{{title}} - ExerciX.db</title>
		{% else %}
		<title>ExerciX</title>
		{% endif %}

		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/apollo.css">
	</head>



	<body>






    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  {{message}}
              </div>
              <br>
            {% endfor %}
        {% endif %}
      {% endwith %}

    <div id="fb-root"></div>

	    <div class="apollo">
	      <div class="apollo-container clearfix">
	        <div class="apollo-facebook">
	          <div class="apollo-image"></div>
	        </div>

	      		{% block content %}{% endblock %}
	      

	      </div>
	    </div>

      <hr>
    </div>

	<script src="/static/js/jquery-2.0.3.min.js"></script>
	<script src="/static/js/lib/images.js"></script>
	<script src="/static/js/lib/md5.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<!-- <script src="/static/js/apollo.js"></script> -->
</body>

<footer>
    <div class="container">
        <p>Copyright edelans 2013</p>
    </div>
</footer>

</html>
