{% extends "security/base_security.html" %}
{% block content %}
{% from "macros.html" import form_field_with_placeholder %}

<div class="apollo-register">
	<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
	    <legend>Changement de mot de passe</legend>
	    {{ change_password_form.hidden_tag() }}
	    {{ form_field_with_placeholder(change_password_form.password, "Ancien mot de passe") }}
  {{ form_field_with_placeholder(change_password_form.new_password, "Nouveau mot de passe") }}
  {{ form_field_with_placeholder(change_password_form.new_password_confirm, "Confirmez le mot de passe") }}
	    <button class="btn btn-large btn-block" type="submit">Se connecter</button>
	</form> 
</div>
{% endblock %}
