{% extends "security/base_security.html" %}
{% block content %}
{% from "macros.html" import form_field_with_placeholder %}

<div class="apollo-forgotten-password">
	<form class="form-signin" id="apollo-forgotten-password-form" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
		{{ forgot_password_form.hidden_tag() }}

		{{ form_field_with_placeholder(forgot_password_form.email, "Email") }}

		<button class="btn btn-large btn-block btn-primary" type="submit">Réinitialiser le mot de passe</button>
	</form>

	<p class="apollo-back"> <a href="#"><i class="icon-arrow-left"></i> Retour à l'inscription</a> </p>
</div>

{% endblock %}