{% extends "security/base_security.html" %}
{% block content %}
{% from "macros.html" import form_field_with_placeholder %}

<div class="apollo-register">

    <legend>En attente d'activation</legend>
    <p> Pour pouvoir vous connecter, il ne vous reste plus qu'à activer votre compte en cliquant sur le lien d'activation qui vous a été envoyé par mail.</p>

    <p class="apollo-register-account"> 
	    <a href="{{ url_for_security('send_confirmation') }}" class="password-link"><small>Lien d'activation perdu ?</small></a> 
    </p>
</div>
{% endblock %}