<!DOCTYPE html>
<html>

<head>
  {% if title %}
  <title>{{title}} - ExerciX.db</title>
  {% else %}
  <title>ExerciX.db</title>
  {% endif %}

  <link href="/static/css/bootstrap.css" rel="stylesheet" media="all">
  <link href="/static/css/tablesorter.css" rel="stylesheet" media="all">  <!-- http://tablesorter.com/docs/ -->
  <link href="/static/css/dashboard.css" rel="stylesheet" media="all">
  <link href="/static/css/math.css" rel="stylesheet" media="all">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.tablesorter.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>



<div class="container">
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index">Exercix-DB</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/index">Dashboard</a>
      <li><a href="/exercices">Exercices</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>

    <br>

    <div class="container">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  {{message}}
              </div>
              <br>
            {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      <hr>
    </div>
</body>

<footer>
    <div class="container">
        <p>Copyright edelans 2013</p>
    </div>
</footer>

</html>
