{% extends "base.html" %}
{% block content %}
	<h1>Administration des exercices</h1>

<ul class="breadcrumb">
  <li><a href={{ url_for('exercices_l0')}}>Home</a><span class="divider">/</span></li>
  <li class="active">{{part}}</li>
</ul>

<ul class="nav nav-tabs nav-stacked">
{% for fpart in structure["parts"] %}
	{% if fpart["part"].decode('utf8') == part %}
		{% for fchap in fpart["chapters"] %}
			<li><a href={{ url_for('exercices_l2', part=part, chapter=fchap["chapter"])}}>{{fchap["chapter"].decode('utf8')}}</a></li>
		{% endfor %}
	{% endif %}
{% endfor %}
</ul>
{% endblock %}
