{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span12">
  	<br>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
  		<h3>Statistiques d'utilisation de l'appli Exercix-Lite</h3>
		    <p>Statistiques du: {{date}}</p>
        <p><a href={{ url_for('users_evolution')}}>Nombre d'utilisateurs (adresses mail uniques)</a>: {{nbusers}}</p>
  </div>
</div>


<div class="row">
  <div class="span8 offset2">
      <h4>Les filières d'origines:</h4>
    <div id="piechart" style="width:100%; margin: 0 auto"></div>
  </div>
</div>




<div class="row">
  <div class="span8 offset2">
    <h4>Les prepas d'origines:</h4>
<script >
  $(function() {
    $("table").tablesorter();
  });
</script>
    <table class="table table-condensed table-hover tablesorter" >
      <thead>
    <tr>
  <th>Etablissement</th>
  <th>Nombre d'utilisateurs</th>
</tr>
</thead>
<tbody>
{% for prepa in prepas %}
<tr>
  <td><a href={{ url_for('prepa_users_evolution', prep=prepa)}}>{{prepa}}</a> </td>
  <td>{{prepas[prepa]}}</td>
</tr>
{% endfor %}
</tbody>
</table>
  </div>
</div>


<script >
$(function () {
    // Build the chart
        $('#piechart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Pourcentage d\'utilisateur',
                data: {{rep_fil |safe}}
            }]
        });
    });
</script>


{% endblock %}
