{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span12">
  	<br>
  </div>
</div>

<div class="row-fluid">
  <div class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3">
    <span class="title">Clients</span>
    <span class="value">4 589</span>
  </div>

  <div class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3">
    <span class="title">Transactions</span>
    <span class="value">789</span>
  </div>

  <div class="span3 smallstat box mobileHalf noMargin" ontablet="span6" ondesktop="span3">
    <span class="title">Income</span>
    <span class="value">$1 999,99</span>
  </div>

  <div class="span3 smallstat mobileHalf box" ontablet="span6" ondesktop="span3">
    <span class="title">Account</span>
    <span class="value">$19 999,99</span>
  </div>
</div>

<div class="row">
  <div class="span6">
  		<h3>Operations</h3>
		<p>Nombre d'exercices vus / utilisateur / semaine: {{operations_data.viewcount_peruser_perweek}}</p>
  </div>

  <div class="span6">
  	<h3>Indicateurs financiers</h3>
		<p> CA du mois:{{sales_data.sales}}<p\>
		<p> Nombre d'abonnés: {{sales_data.subscription_count}}</p>
  </div>
</div>


<div class="row">
  <div class="span12">
  	<br>
  </div>
</div>

<div class="row">
  <div class="span6">
  	<h3>Les exercices les plus consultés:</h3>
		<table class="table table-condensed table-hover">
		<tr>
	<th>Exo id</th>
	<th>Viewcount</th>
</tr>

{% for stat in stat_exo_viewcount %}
<tr>
	<td><a href={{ url_for('exo_info', exo_id=stat.exo_id)}}><i class="icon-search"></i></a></td>
	<td>{{stat.viewcount}}</td>
</tr>
{% endfor %}
</table>
  </div>



  <div class="span6">
	  <h3>Les corrections les moins claires:</h3>
		<table class="table table-condensed table-hover">
		<tr>
			<th>Exo id</th>
			<th>Flagcount</th>
		</tr>

		{% for stat in stat_exo_flagcount %}
		<tr>
			<td><a href={{ url_for('exo_info', exo_id=stat.exo_id)}}><i class="icon-search"></i></a></td>
			<td>{{stat.flagcount}}</td>
		</tr>
		{% endfor %}
		</table>
  </div>
</div>

<div class="row">
  <div class="span12">
  	<br>
  </div>
</div>

{% endblock %}