{% macro form_field_with_placeholder(field,ph='') -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = ph %}
    <div class="form-group  {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="col-lg-2 control-label">
                {{ field.label.text }}:
            </label>
        {% endif %}
        <div class="col-md-3">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_+ ' form-control', **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {% if field.type in ('TextField', 'TextAreaField', 'PasswordField', 'IntegerField', 'SelectField') %}
                    {% set class_ = class_ + ' form-control' %}
                {% elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' form-control' %}
                {% endif %}
                {{ field(class_=class_+ ' form-control', placeholder=placeholder, **kwargs)|safe }}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}